.root {
  width: 100%;
  height: 100%;
}
.header {
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  & div {
    display: inline-block;
  }
  &_month {
    margin-left: 10px;
  }
}
.body {
  margin: 0px -40px;
  height: calc(100% - 20px);
}
.table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}
.weekDay {
  text-align: center;
  height: 100%;
  &:first-child {
    color: #ef5350;
  }
  &:last-child {
    color: #03a9f4;
  }
}
.td {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 0;
  border-left: 0;
  font-size: 12px;
  width: calc((100% - 65px) / 7);
  &:last-child {
    border-right: 0;
  }
  & p {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  &.sm {
    height: calc(100% / 7);
  }
  &.md {
    height: calc(100% / 6);
  }
  &.lg {
    height: calc(100% / 5);
  }
}
.days {
  &:first-child {
    & td {
      border-top: 0;
    }
  }
}
