.calendar {
  width: 100%;
  &_body {
    margin: 0px -64px -64px -64px;
  }
  &_table {
    width: 100%;
    border-spacing: 0;
  }
  &_weekDay {
    text-align: center;
    &:first-child {
      color: #ef5350;
    }
    &:last-child {
      color: #03a9f4;
    }
  }
  &_td {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 0;
    border-left: 0;
    font-size: 12px;
  }
  &:last-child {
    border-right: 0;
  }
  &_days {
    &:first-child {
      & td {
        border-top: 0;
      }
    }
  }
  &_day {
    height: 200px;
    position: relative;
    & p {
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      position:absolute;
    }
  }
}
